@import url('https://cdn.rawgit.com/moonspam/NanumSquare/master/nanumsquare.css');
@font-face {
    font-family: 'EliceDigitalBaeum_Bold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_220508@1.0/EliceDigitalBaeum_Bold.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
}
*:hover {
    cursor: default;
}

body {
    overflow: hidden;
}

#nav {
    width: 100vw;
    height: 70px;
    background-color: black;
    color: white;
    font-size: 50px;
    padding-left: 50px;
    align-items: center;
    display: flex;
    font-family: 'NanumSquare';
}
#nav > div {
    width: 50px;
}
#nav > div:hover {
    cursor: pointer;
}

#content {
    display: flex;
}

#problem, #result {
    width: 30vw;
    height: 100vh;
    padding: 35px;
    background-color: #d3d3d3;
    font-family: 'NanumSquare';
}

#problem > div, #result > div {
    padding: 10px;
    height: 65vh;
    background-color: #1e1e1e;
    color: white;
    overflow-y: scroll;
    font-family: 'EliceDigitalBaeum_Bold';
}

#editor {
    width: 40vw;
    height: 100vh;
}

button {
    width: 100px;
    height: 50px;
    background-color: #17ce3b;
    color: white;
    font-size: 25px;
    position: absolute;
    right: 34vw;
    bottom: 15px;
    font-family: 'NanumSquare';
}
button:hover {
    cursor: pointer;
}